*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: darkgray;
}
h3{
    text-align: center;
    margin: 20px;
}
body{
    align-items: center;
}
#formulario{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 200px;
    margin: 5px;
    border-radius: 30px;
    border: 1px solid gray;
    color: white;
    background-color: #da7a6d;
    padding: 20px;
    justify-content: center;
    margin-top: 50px;
}

#formulario label{
    background-color: #da7a6d;
}

    .iText{
        background-color: whitesmoke;
    }

#botones{
    background-color: #da7a6d;
}

#btnSubmit, #btnMostrar{
    margin-top: 25px;
    width: 90px;
    height: 30px;
}

#containerPrincipal{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#displayTodos, #displayTodos p, #displayTodos strong, #displayTodos h3 {
    background-color: #486f99;
    margin: 5px;
}